html {
  font-size: 100%;
  @include box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #222222;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }

 .u-hidden-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    text-decoration: none !important;
 }

 .site-header {
 	border-bottom: 11px solid $yellow;
 	& > .row {
 		padding: 2rem 0;
 	}
 }

 .site-header__logo {
 	text-align: center;
 	@include break($medium) {
 		text-align: left;
 	}
 }

.site-header__nav {
	padding-top: 1rem;
	text-align: center;
	@include break($medium) {
		text-align: right;
	}
 	ul {
 		margin: 0;
 		li {
 			display: inline-block;
 			list-style: none;
 			font-size: 1.5rem;
 			margin-left: 2rem;
 			a {
 				font-family: 'Bebas', sans-serif;
 				text-transform: uppercase;
 			}
 		}
 	}
}

.main-content {
	position: relative;
}

.main-content__hero {
	background: url(../img/homepage.png) no-repeat center;
	background-size: cover;
	min-height: 200px;
	@include break($medium) {
		min-height: 350px;
	}
	@include break($large) {
		min-height: 481px;
	}
}