.u-hidden-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	text-decoration: none !important;
}

.text--uppercase {
	text-transform: uppercase;
}

p.text--label {
	margin-bottom: 0;
}

.text--hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.tag--reset-margin {
	margin: 0;
}

.text--lighter {
	font-weight: lighter;
}

.site-header {
	border-bottom: 11px solid $yellow;
	& > .row {
		padding: 0.5rem 0;
	}
}

.site-header__logo {
	text-align: center;
	padding-top: 1rem;
	@include break($medium) {
		text-align: left;
	}
}

.site-header__nav {
	padding-top: 2rem;
	text-align: center;
	@include break($medium) {
		text-align: right;
	}
 	ul {
 		margin: 0;
	}
	li {
		display: inline-block;
		font-size: rem(24px);
		margin-left: rem(30px);
		font-family: $heading-font;
		text-transform: uppercase;
	}
}

.main-content .instagram {
	text-align: center;
	display: block;
	margin-top: em($gutter);
	a {
		color: $purple;
		display: inline-block;
	}
	.social-icon {
		background-position: -18px -21px;
	}
}

.main-content__hero {
	background: url(../img/homepage.png) no-repeat center;
	background-size: cover;
	min-height: 200px;
	@include break($medium) {
		min-height: 350px;
	}
	@include break($large) {
		min-height: 481px;
	}
}

.middle-about {
	p {
		line-height: 1.2em;
		text-align: center;
		font-family: $reset-font;
		font-weight: bold;
		font-size: 2rem;
		margin: 2rem 0;
		@include break($medium) {
			font-size: 3rem;
			margin: 4rem 0;
		}
	}
	.dots {
		text-align: center;
		li {
			list-style: none;
			display: inline-block;
			width: 15px;
			height: 15px;
			background: $gray;
			@include border-radius(50%);
			border: 1px solid $dark-gray;
			cursor: pointer;
			margin-left: 4px;
			&:first-child {
				margin-left: 0;
				background-color: $dark-gray;
			}
			&:nth-child(2) {
				background-color: #d46b55;
				border-color: #d46b55;
			}
		}
	}
}

.middle-grid {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.middle-grid__inner {
	text-align: center;
	padding: em($gutter);
	margin-bottom: rem($gutter);
	border: 3px solid $yellow-darker;
	@include border-radius(3px);
	min-height: 410px;
	position: relative;
	padding-top: 144px;

	&.middle-grid__inner--call-us {
		background: url(/img/phone.svg) no-repeat center 30px;
		.text--lighter {
			font-size: rem(22px);
		}
	}

	&.middle-grid__inner--hours {
		background: url(/img/clock.svg) no-repeat center 30px;
		.tag--reset-margin + p {
			margin-top: 0;
		}
	}

	&.middle-grid__inner--location {
		background: url(/img/hotdog.svg) no-repeat center 30px;
		a.cta {
			position: absolute;
			bottom: 0;
			background-color: $yellow;
			color: $green;
			border-top: 1px solid #d3d3d3;
			width: 100%;
			left: 0;
			text-align: left;
			padding: 1.5rem 1rem;
			svg {
				display: inline-block;
				float: right;
			}
		}
	}
}

.site-footer {
	background-color: $light-gray;
	border-top: 1px solid $gray;
	padding: 20px 0;
	&, a {
		color: $dark-gray;
	}
	.columns {
		font-size: rem(12px);
	}
	.site-footer__address {
		text-align: right;
		span {
			padding: 0 em($gutter/3);
		}
	}
}

.social-icons {
	&,
	li {
		display: inline-block;
	}
}

.social-icon {
	width: 16px;
	height: 16px;
	background: url(/img/social.png) no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
}

.social-icon.social-icon--facebook:hover {
	background-position: 0 -21px;
}

.social-icon.social-icon--instagram {
	background-position: -18px 0;
	&:hover {
		background-position: -18px -21px;
	}
}