// bebas
// proxima nova light, regular, semi-bold, and bold
// Montserrat light
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas___-webfont.eot');
    src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Typography resets */
html, body {
    font-size: $base-font-size;
}

body {
    font-family: $base-font;
    font-size: 1rem;
    line-height: 1.5em;
    color: $black;
  	background: $white;
  	letter-spacing: 1px;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
    font-weight: bold;
    font-style: normal;
    color: inherit;
    margin: 0.5rem 0 1rem;
}

h2 {
    font-size: rem(20px);
    @include break($medium) {
        font-size: rem(30px);
    }
}

h4 {
    font-size: 1rem;
    @include break($medium) {
        font-size: 1.1rem;
    }
}

a {
    color: $black;
    text-decoration: none;
    line-height: inherit;
    font-weight: normal;
}

a:hover, a:focus {
    color: $black;
    text-decoration: none;
}

a img {
    border: none;
}

/* Default paragraph styles */
p {
    font-family: inherit;
    font-weight: normal;
    margin: rem($gutter) 0;
    text-rendering: optimizeLegibility;
    color: inherit;
}

ul, li {
    font-size: $base-font-size;
}